
.H-Home{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;    
        background-image:linear-gradient( rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.5)), url(/img/landing.jpg);
        text-align: center;
        transition: opacity 0.325 ease-in-out;
    
}

.H-Home:after{
    display: block;
    position: absolute;
    top: calc(-3.5rem - 1px);
    left: calc(50% - 1px);
    width: 1px;
    height: calc(3-3.5rem + 1px);
    background: #ffffff;
}

.H-Home:before{
    display: block;
    position: absolute;
    top: calc(-3.5rem - 1px);
    left: calc(50% - 1px);
    width: 1px;
    height: calc(3.5rem + 1px);
    background: #ffffff;
}

.logo img{
    width: 9.8rem;
    height: 10.2rem;
    line-height: 5.5rem;
    border-radius: 100%;
    margin-top: 7rem;
    margin-right: 40px;
}


.H-content{
    border-top: #ffffff;
    border-bottom: #ffffff;
    border-left-width: 0;
    border-right-width:0 ;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    max-width: 90%;
}

.H-inner{
    transition: max-height 0.75s ease,padding 0.75s ease, opacity 0.325s ease-in-out;
    transition-delay: 0.25s;
    padding: 3rem 2rem;
    max-height: 40rem;
    overflow: hidden;
}

.H-inner h1{
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    color: #ffffff;
    font-weight: 600;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    padding: 30px;
}

.H-inner p{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    line-height: 2;
    margin: 0 0 2rem 0;
    color: #ffffff;  
}

.footer{
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    text-align: center;
    
}

.H-footer p{
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.75;
    margin-bottom: 0;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
    margin: 20px;
    color: #ffffff;  
}